DISCORD_BOT_TOKEN = ""
POSTGRES_USER = wardogs_tracker
POSTGRES_PASSWORD = ""
POSTGRES_DB = wardogs_tracker
DB_HOST = localhost
AUTH_BASE_URL=https://aye-characteristics-sig-toronto.trycloudflare.com
SHARED_KEY = ""